.netrc
composer/cache/
composer/vendor/
nvim/plugin/
tmux/plugins/
valet/
zsh/envvars.zsh
zsh/.zcompcache
zsh/.zcompdump
zsh/.zsh_history
# No time for playing games
Battle.net/
psysh
lazygit/state.yml
configstore
phpactor
