.netrc
mackup/.aws/credentials
mackup/.config/fish/fish_variables
mackup/Library/Application Support/BraveSoftware/Brave-Browser/Default/Preferences
mackup/Library/Application Support/zoxide/db.zo
mackup/Library/Preferences/com.apple.Music.eq.plist
mackup/Library/Preferences/com.apple.Music.plist
mackup/Library/Preferences/com.apple.symbolichotkeys.plist
